.detail {
    display: flex;
    flex-direction: row;
    margin: 0 0 0.6rem 0;
}

.icon {
    display: block;
    filter: invert(13%) sepia(10%) saturate(579%) hue-rotate(163deg)
        brightness(95%) contrast(93%);
    flex: 0 0 1.2rem;
    height: 1.2rem;
    margin: 0 0.5rem 0 0;
    padding: 0.15rem 0 0;
}

.icon img {
    width: 1.2rem;
}

.email {
    display: block;
    overflow-wrap: break-word;
    width: 100%;
    word-wrap: break-word;
}

.address_detail {
    display: block;
}
