.language_list {
    display: block;
}
.language_item {
    display: block;
    margin-bottom: var(--font-size-xs);
}

.language {
}

.fluency {
    white-space: nowrap;
    color: var(--color-accent-alternate);
    font-weight: var(--font-weight-light);
}
